.emphasis { 
	-fx-background-color: red; 
	-fx-font-weight: bold;
}

.modified {
	-fx-font-weight: bold;
	-fx-text-fill: red;
}

.BETTER {
	-fx-text-fill: green;
}

.NONE {}

.WORSE {
	-fx-text-fill: red;
}

.NULLIFY {
	-fx-text-fill: blue;
}